html, body {
margin: 0;
padding: 0;
font-family: "Work Sans", sans-serif;
font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-blue: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

body {
    background: var(--light-pink);
}

.bg {
    max-width: 100%;
    min-height: 320px;
    background: url(assets/images/background-pattern-desktop.svg);
    object-fit: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 550px;
    background: white;
    position: relative;
    top: -100px;
    padding: 0 2rem;
    border-radius: 10px;
    padding-bottom: 20px;
}

.header {
    display: flex;
}

.header-icon {
    background: url(assets/images/icon-star.svg);
    width: 40px;
    height: 41px;
    margin: auto 0;
    margin-right: 30px;
}

.header > p {
    font-size: 3rem;
    font-weight: 700;
}

.data {
    margin-top: -20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 0fr;
}

.main:hover {
    cursor: pointer;
    
    p {
        color: hsl(273, 42%, 51%);
    }
}

.main > p {
    /* make it 22ch for smaller screens idiot */
    font-weight: 600;
}


.icon {
    background: url(assets/images/icon-plus.svg);
    width: 30px;
    height: 31px;
    margin: auto 0;
    transition: all 0.3s ease-in-out;
}

.sub {
    display: block;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: var(--grayish-blue);
}

.active {
    max-height: 150px;
    margin-bottom: 20px;
}

@media screen and (max-width: 580px){
    .wrapper {
        padding: 0 1rem;
        margin: 0 1rem;
        padding-bottom: 20px;
    }
}